html, body{
  margin: 0;
  padding: 0;
  font-family: "Calibri", Arial, sans-serif;
}
a{
  color: #e65c00;
}
h1{
  font-family: "Calibri", Arial, sans-serif;
  background-color: #fff;
  color: #e65c00;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  position: relative;
  top: -30px;
}
hr{
  width: 90%;
  height: 0;
  border-top: 1px solid #eee;
}
.shopCont{
  width: 75%;
  margin: 10px;
  display: table;
}
.shopImg{
  position: relative;
  float: left;
  width: 20%;
  max-width: 20%;
  display: inline-block;
}
.shopImg img{
  max-width: 100%;
}
.shopDesc{
  position: relative;
  float: left;
  width: 50%;
  display: inline-block;
  padding: 20px;
}
.shopAdd{
  position: relative;
  float: left;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
}
.shopAdd input{
  width: 100%;
  font-size: 18px;
}
.itemName{
  font-weight: bold;
  font-size: 20px;
  display: block;
}
.itemCost{
  color: #333;
  font-weight: bold;
  display: block;
}
.itemInfo{
  color: #333;
}
#cartCont{
  position: absolute;
  top: 100px;
  right: 10px;
  width: 22%;
  text-align: center;
}
#cartCont input{
   padding: 15px;
   background-color: #e65c00;
   color: #fff;
   width: 100%;
   float: right;
   border: 1px solid #fff;
   font-weight: strong;
   font-size: 18px;
}
#cartCont input:hover{
   padding: 15px;
   background-color: #ff8534;
   color: #fff;
   width: 100%;
   float: right;
   border: 1px solid #fff;
   font-weight: strong;
   font-size: 18px;
}
#cartSpace{
  background-color: #fff;
  color: #000;
  text-align: left;
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}
#cartCost{
   background-color: #ccc;
   padding: 5px;
   text-align: right;
   font-weight: bold;
}
#cartHeader{
  text-align: center;
  font-size: 18px;
  background-color: #eee;
  color: #000;
  font-weight: bold;
  padding: 15px;
}
.cartPrice{
  margin: 3px;
  float: right;
  color: #666;
}
#checkCont{
  width: 75%;
  padding: 10px;
}
#viewCart{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
  padding: 35px;
  width: 75%;
}
#viewCart input.text{
  width: 75%;
  padding: 7px;
}
#viewCart input.button{
   padding: 15px;
   background-color: #e65c00;
   color: #fff;
   width: 200px;
   float: right;
   border: 1px solid #fff;
   font-weight: strong;
   font-size: 18px;
}
#viewTitle{
  font-size: 26px;
  color: #000;
  display: block;
}
#viewTable{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 75%;
}
#viewTable td{
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
#viewTable td.blank{
  border-bottom: 1px solid #fff;
  padding: 15px;
  font-weight: bold;
}
#viewTable input{
   padding: 15px;
   background-color: #e65c00;
   color: #fff;
   width: 200px;
   float: right;
   border: 1px solid #fff;
   font-weight: strong;
   font-size: 18px;
}
#viewTable input:hover{
   padding: 15px;
   background-color: #ff8534;
   color: #fff;
   width: 200px;
   float: right;
   border: 1px solid #fff;
   font-weight: strong;
   font-size: 18px;
}
.confirmShip{
   width: 75%;
   text-align: right;
   padding: 15px;
}
#payAmt{
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding: 15px;
   font-size: 20px;
   width: 70%;
   text-align: center;
}
#payBox{
  width: 60%;
  height: 30px;
  font-size: 19px;
  position: relative;
  top: -40px;
  text-align: center;
}
#messages{
  font-size: 21px;
  font-weight: bold;
  color: #009933;
}
.tableHeader{
   font-weight: bold;
}
.productTable{
   width: 90%;
}
.productTable td{
   max-width: 30%;
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
}
.inputArea{
   height: 120px;
   width: 70%;
   padding: 7px;
}
.errMsg{
   font-size: 20px;
   color: #e65c00;
   font-weight: bold;
}
#logout{
  position: relative;
  float: right;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #e65c00;
  font-weight: bold;
}
#add{
  position: relative;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #e65c00;
  font-weight: bold;
}

